body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
    margin-bottom: 1em;
    border: 3px solid #777;
}

.profile-name {
    margin: 0;
    font-size: 2em;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 5px;
    color: #444;
}

h4 {
    margin-top: 15px;
    margin-bottom: 5px;
    color: #555;
}

h3 span, h4 span {
    font-size: 0.8em;
    color: #777;
    font-weight: normal;
    margin-left: 10px;
}

.contact ul, .skills ul, .education ul, .work-experience p, .extra-curricular p, .languages ul {
    padding-left: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #007bff;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
